
@{
    ViewBag.Title = "Test";
}

@model MVCTodo.Models.TestModel


<h2>RAZOR 샘플</h2>

<h3>안녕하세요. @Model.Name 님, 오늘은 @DateTime.Now.ToShortDateString() 입니다.</h3>

@{
    string strName = "Jihyeon.PARK";
    string strDate = DateTime.Now.ToShortDateString();
}

<h3>안녕하세요. @strName 님, 오늘은 @strDate 입니다.</h3>
<h3>안녕하세요. @(strName + "님 오늘은 " + DateTime.Now.ToShortDateString() + "입니다.")</h3>

@if (DateTime.Now.Year == 2022)
{
    <div>
        <text>
            2022년 신축년입니다.
            오늘은 @DateTime.Now.ToString() 입니다.
        </text>
    </div>
}

@if (DateTime.Now.Year == 2022)
{
    <div>
        <span>
            2022년 신축년입니다.
            오늘은 @DateTime.Now.ToString() 입니다.
        </span>
    </div>
}

@{
    if (DateTime.Now.Year == 2022)
    {
        @: 2022년 신축년입니다.
        @: 오늘은 @DateTime.Now.ToString() 입니다.
    }
}

@*<form action="/Test/Test" method="post">
    System.Web.Mvc.Html.MvcForm*@
@Html.BeginForm()

@*<textarea cols="20" id="textarea" name="textarea" rows="2">
    </textarea>*@
@Html.TextArea("textarea")

@*@Html.DropDownList("Todo")*@

@*<input id="hidden" name="hidden" type="hidden" value="" />*@
@Html.Hidden("hidden")

@*<a class="Test" href="/Test/Content1">Button1</a>*@
@Html.ActionLink("Button1", "Content1", null, new { @class = "Test" })


@* Html 코드를 인코딩하지 않은 원본 상태로 출력 *@
@{ 
    string email = "<div>pjh4794@naver.com</div>";
}
@Html.Raw(@email)

@*PartialView 반환*@
@Html.Partial("PartialTest")

@*@Html.RenderPartial("PartialTest")*@

@*@Html.RenderAction("TextContent", null, null)*@



