
@{
    ViewBag.Title = "Test";
}

@model MVCTodo.Models.TestModel


<h2>RAZOR 샘플</h2>

<h3>안녕하세요. @Model.Name 님, 오늘은 @DateTime.Now.ToShortDateString() 입니다.</h3>

@{
    string strName = "Jihyeon.PARK";
    string strDate = DateTime.Now.ToShortDateString();
}

<h3>안녕하세요. @strName 님, 오늘은 @strDate 입니다.</h3>
<h3>안녕하세요. @(strName + "님 오늘은 " + DateTime.Now.ToShortDateString() + "입니다.")</h3>

@if (DateTime.Now.Year == 2022)
{
    <text>
        2015년 을미년입니다.
        오늘은 @DateTime.Now.ToString() 입니다.
    </text>
}

@if (DateTime.Now.Year == 2022)
{
    <span>
        2015년 을미년입니다.
        오늘은 @DateTime.Now.ToString() 입니다.
    </span>
}

@{
    if (DateTime.Now.Year == 2022)
    {
        @: 2015년 을미년입니다.
        @: 오늘은 @DateTime.Now.ToString() 입니다.
    }
}

@*<form action="/Test/Test" method="post">
    System.Web.Mvc.Html.MvcForm*@
    @Html.BeginForm()

@*<textarea cols="20" id="textarea" name="textarea" rows="2">
</textarea>*@
    @Html.TextArea("textarea")

    @*@Html.DropDownList("Todo")*@

@*<input id="hidden" name="hidden" type="hidden" value="" />*@
    @Html.Hidden("hidden")

@*<a class="Test" href="/Test/Content1">Button1</a>*@
    @Html.ActionLink("Button1", "Content1", null, new { @class = "Test" })


@*<p>Raw Test</p>*@
    @Html.Raw("<p>Raw Test</p>")

@*PartialView 반환*@
    @Html.Partial("PartialTest")

    @Html.RenderPartial("PartialTest")

    @Html.RenderAction("Content1")



