
@{
    ViewBag.Title = "Todo";
}

@model List<MVCTodo.Models.Todo>

<div class="container">

<h2 style="text-align: center;">My Todo List</h2>

    <br/>
    <br/>
    <div>
        @Html.Label("날짜")
        @Html.TextBox("content-textbox")
        <br />
        <br />
        @Html.Label("내용")
        @Html.TextBox("content-textbox")

    </div>

    <br/>
    <br/>

<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>선택</th>
            <th>날짜</th>
            <th>내용</th>
            <th>완료 여부</th>
        </tr>
        @foreach (MVCTodo.Models.Todo item in Model)
            {
                <tr>
                    <td>
                        @Html.CheckBox("checkbox")
                    </td>
                    <td >@item.Date</td>
                    <td >
                        @item.Content
                    </td>
                    <td>
                        @Html.RadioButton("complete", "")
                    </td>
                </tr>
            }
    </thead>
    <tbody id="table-body"></tbody>
</table>

</div>

