
@{
    ViewBag.Title = "Board";
}

@model List<MyMiniBoard.Models.Board>

<h2>Q&A 게시판</h2>

<br/><br/>

<div class="row">
    <div class="col-sm-3">
        <p><b>상태</b></p>
        @Html.DropDownList("Search", ViewBag.SearchType as IEnumerable<SelectListItem>)
    </div>
    <div class="col-sm-6">
        <p><b>검색조건</b></p>
        @Html.DropDownList("State", ViewData["State"] as IEnumerable<SelectListItem>)
        <input type="text" />
        <button>검색</button>
    </div>
</div>

<br/>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>상태</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
    @foreach (MyMiniBoard.Models.Board board in Model)
            {
                <tr>
                    <td>@board.Id</td>
                    <td>@board.State</td>
                    <td>@board.Title</td>
                    <td>@board.Writer</td>
                    <td>@board.CreatedDate</td>
                    <td>@board.Views</td>
                </tr>
            }
    </tbody>
</table>

<div style="text-align:right">
    <a class="btn btn-primary" href="/Board/PostBoard">작성</a>
</div>
